In [25]:
tiket1 = int(input("Isikan Umur Tiket 1:"))
tiket2 = int(input("Isikan Umur Tiket 2: "))
tiket3 = int(input("Isikan Umur Tiket 3: "))

def hargaTiket (usia):
    if 0 <= usia <= 12:
        return 10000
    elif 13 <= usia <= 17:
        return 15000
    elif 18 <= usia <= 59:
        return 25000
    elif usia >= 60:
        return 0
    else:
        "Usia Tidak Valid"

totalHarga = (hargaTiket(tiket1) + hargaTiket(tiket2) + hargaTiket(tiket3))

print(f"Total Harga yang harus dibayar: ",totalHarga)

Isikan Umur Tiket 1: 12
Isikan Umur Tiket 2:  18
Isikan Umur Tiket 3:  56

Total Harga yang harus dibayar:  60000